node_modules/
dist/
lila/

.env
*.env
*.log
.vscode/
.DS_Store
digichess-backend/.venv/
digichess-backend/staticfiles/
digichess-backend/celerybeat-schedule

**/__pycache__/
**/*.pyc
*.sqlite3
*.db

git-lfs-*/
git-lfs.tar.gz
